.product_name{
  width: 100%;
  height: 60px;

  padding:10px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.product_name strong{
  line-height: 43px;
}
.product_money,
.product_size,
.lt_num{
  width: 100%;
  height: 60px;
  line-height: 40px;
  padding:10px;
  border-bottom:1px solid #ccc;
}
.product_money .price{
  font-size:22px;
  color:red;
}
.product_money  .old{

  text-decoration: line-through;
}
.product_size{
  width: 100%;
  height: 60px;
  line-height: 40px;
  padding:10px;
  border-bottom:1px solid #ccc;
}
.lt_num span{
  font-size:14px;
}
.product_desc{
  padding:10px;
}
.lt_footer{
  padding:10px 10px 0 10px;
  background-color: #ccc;
  border-top:1px solid red;
}
